{
  "openapi": "3.1.0",
  "info": {
    "title": "1Claw API",
    "version": "0.61.5",
    "description": "Secure secret management for AI agents. Provides vaults, secrets,\npolicy-based access control, agent identity, Intents API,\nsharing, billing, and audit logging. Automations (workflow_spec,\nwebhook tokens, event triggers, Assist), cloud runtimes with\ninteractive shell sessions, agent memory, and discovery.\n\n## Domains\n\n`api.1claw.co` is canonical: it is the OIDC issuer, the `aud` the API\nmints, and the first entry in `servers` — a generated client takes its\nbase URL from there, and the previous ordering pointed every SDK at the\ndomain the issuer had already left. `api.1claw.xyz` still answers and is\nstill accepted on token validation, because tokens minted before the\nmove carry it; it is never minted now.\n\nOne deliberate exception: the Shroud attestation identity token is\nrequested from GCP with `audience: https://api.1claw.xyz`, so\n`/v1/shroud/attestation` reports that as its `expected_audience`. That\nis accurate rather than stale — the audience is a verification contract\nwith anyone already checking the token, and moving it is a breaking\nchange for them, not a rename.\n\nAll endpoints require JWT Bearer authentication unless marked with\n`security: []`.\n",
    "contact": {
      "email": "ops@1claw.co"
    }
  },
  "servers": [
    {
      "url": "https://api.1claw.co",
      "description": "Production (canonical)"
    },
    {
      "url": "https://shroud.1claw.co",
      "description": "Shroud TEE Proxy (Intents API + LLM proxy)"
    },
    {
      "url": "https://api.1claw.xyz",
      "description": "Production (legacy domain; still answers, tokens minted before the move carry this issuer)"
    },
    {
      "url": "https://shroud.1claw.xyz",
      "description": "Shroud TEE Proxy (legacy domain)"
    },
    {
      "url": "http://localhost:8443",
      "description": "Development"
    }
  ],
  "x-agentcash-guidance": {
    "llmsTxtUrl": "https://1claw.co/llms.txt"
  },
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Authentication",
      "description": "Credential exchange, MFA, device auth, token management"
    },
    {
      "name": "API Keys",
      "description": "Personal API key management"
    },
    {
      "name": "Vaults",
      "description": "Vault lifecycle operations"
    },
    {
      "name": "Secrets",
      "description": "Secret CRUD within vaults"
    },
    {
      "name": "Policies",
      "description": "Access policy management"
    },
    {
      "name": "Agents",
      "description": "Agent identity and key management"
    },
    {
      "name": "Transactions",
      "description": "Intents API (signing, simulation)"
    },
    {
      "name": "Chains",
      "description": "Blockchain chain registry"
    },
    {
      "name": "Sharing",
      "description": "Secret sharing links"
    },
    {
      "name": "Organization",
      "description": "Org membership and roles"
    },
    {
      "name": "Billing",
      "description": "Subscriptions, credits, and usage"
    },
    {
      "name": "Audit",
      "description": "Immutable audit event log"
    },
    {
      "name": "Security",
      "description": "IP rules and security configuration"
    },
    {
      "name": "Treasury",
      "description": "Multi-sig treasury wallets (Safe) and agent access requests"
    },
    {
      "name": "Treasury Wallets",
      "description": "Multi-chain wallet generation for human users (replaces CDP embedded wallets)"
    },
    {
      "name": "Admin",
      "description": "Platform administration"
    },
    {
      "name": "Health",
      "description": "Service health checks"
    },
    {
      "name": "Approvals",
      "description": "Human-in-the-loop approval workflow for agent actions"
    },
    {
      "name": "Signing Keys",
      "description": "Per-agent multi-chain signing key management"
    },
    {
      "name": "Webhooks",
      "description": "Event webhook registration and management"
    },
    {
      "name": "Platform",
      "description": "Platform API for developers building on 1Claw (plt_ keys, user provisioning, bootstrap templates)"
    },
    {
      "name": "OAuth",
      "description": "OAuth 2.0 authorization server (PKCE, consent, token exchange, OIDC UserInfo)"
    },
    {
      "name": "Risk Engine",
      "description": "Risk events, verdicts, and honeytoken management"
    },
    {
      "name": "Tokens",
      "description": "Known token registry for guardrail enforcement"
    },
    {
      "name": "Execution Intents",
      "description": "Execute HTTP calls, queries, and more through pre-configured bindings"
    },
    {
      "name": "Payment Cards",
      "description": "Order prepaid/gift cards via x402, then reveal, refresh, and void them"
    },
    {
      "name": "Automations",
      "description": "Scheduled, webhook-triggered, and on-demand automation workflows"
    },
    {
      "name": "Runtimes",
      "description": "Cloud runtime containers for hosting AI agents"
    },
    {
      "name": "Agent Memory",
      "description": "Agent memory storage (scratch, durable, semantic)"
    },
    {
      "name": "Discovery",
      "description": "Agent directory and platform marketplace"
    },
    {
      "name": "Agent Chat",
      "description": "Chat with agents via Shroud LLM proxy"
    },
    {
      "name": "Agent Channels",
      "description": "External messaging channels (Telegram, WhatsApp, Discord)"
    },
    {
      "name": "OAuth Connect",
      "description": "OAuth connected accounts for agents (provider registry, connect flows, app credentials)"
    },
    {
      "name": "Delegations",
      "description": "Agent-to-agent delegation management (human-controlled authorization)"
    },
    {
      "name": "Cedar Policies",
      "description": "Cedar policy engine (Team+ tier)"
    },
    {
      "name": "OPA Policies",
      "description": "OPA policy engine (Business+ tier)"
    },
    {
      "name": "Contract ABIs",
      "description": "Org-scoped contract ABI registry for transaction decoding"
    },
    {
      "name": "Pending Approvals",
      "description": "Consensus-based multi-party approval workflow for signing"
    },
    {
      "name": "Sub-Organizations",
      "description": "Sub-organization management"
    },
    {
      "name": "Portfolio",
      "description": "Unified balance aggregator"
    },
    {
      "name": "Environment Variables",
      "description": "Per-vault and org-shared environment variable management"
    },
    {
      "name": "Wallet Access",
      "description": "Role-based wallet access policies for agents and users"
    },
    {
      "name": "Credential Recovery",
      "description": "MFA/passkey/password recovery escape hatch with admin approval"
    },
    {
      "name": "Shamir KEK",
      "description": "Shamir secret-sharing for org-level Key Encryption Keys"
    }
  ],
  "paths": {
    "/v1/auth/token": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Login with email and password",
        "operationId": "login",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LoginRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Authenticated (or MFA required)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LoginResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "delete": {
        "tags": [
          "Authentication"
        ],
        "summary": "Revoke current token",
        "operationId": "revokeToken",
        "responses": {
          "204": {
            "description": "Token revoked"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v1/auth/agent-token": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Exchange agent credentials for JWT",
        "description": "Returns a short-lived EdDSA-signed JWT (`access_token`). Standard claims include `sub`\n(`agent:<uuid>`), `org`, `scopes`, `vault_ids`, optional `intents_api_enabled`, optional\n`shroud_enabled`, optional `llm_token_billing` / `stripe_customer_id` when org LLM billing is on.\n\nWhen **`shroud_enabled`** is true, the JWT payload may include **`shroud_config`**: a JSON object\nmirroring the agent row in Vault (same shape as `ShroudConfig` on `GET /v1/agents/{id}`).\n**Shroud** (TEE proxy) decodes this on each LLM request and runs **PolicyEngine** after the\nglobal inspection pipeline so per-agent limits and threat **block** actions apply without a\nseparate policy fetch. Re-exchange the agent token after changing `shroud_config` so the JWT\nis fresh.\n\nUser JWTs from password, API key, or device flow do **not** include `shroud_config`.\n",
        "operationId": "agentToken",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AgentTokenRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Agent JWT issued",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v1/auth/api-key-token": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Exchange user API key for JWT",
        "operationId": "apiKeyToken",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserApiKeyTokenRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "JWT issued",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v1/auth/refresh": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Refresh an expiring JWT",
        "operationId": "refreshToken",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "refresh_token"
                ],
                "properties": {
                  "refresh_token": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Token refreshed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v1/auth/jwt-public-key": {
      "get": {
        "tags": [
          "Authentication"
        ],
        "summary": "Get JWT verification public key",
        "description": "Returns the Ed25519 public key used to sign JWTs.\nUse this to verify tokens independently (e.g. in a TEE proxy or\ngateway). No authentication required.\n\nFor OIDC-compliant relying parties (Anthropic Workload Identity\nFederation, etc.) prefer the JWKS endpoint at\n`/.well-known/jwks.json` together with the discovery document\nat `/.well-known/openid-configuration` — those advertise both\nEd25519 and RS256 keys keyed by `kid` and survive key rotation.\n",
        "operationId": "getJwtPublicKey",
        "security": [],
        "responses": {
          "200": {
            "description": "JWT public key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "alg",
                    "public_key_base64"
                  ],
                  "properties": {
                    "alg": {
                      "type": "string",
                      "example": "EdDSA"
                    },
                    "public_key_base64": {
                      "type": "string",
                      "description": "Base64-encoded Ed25519 public key"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/auth/federated-token": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Exchange a 1claw token for an OIDC federation token (RFC 8693)",
        "description": "Mints a short-lived RS256-signed JWT targeted at an external\nrelying party (e.g. Anthropic Workload Identity Federation).\nThe relying party validates the token via this issuer's JWKS\nURL (`/.well-known/jwks.json`) and exchanges it for its own\nshort-lived service credentials.\n\nRequirements:\n- The agent that owns the `subject_token` must have\n  `federation_enabled = true` and the requested `audience`\n  must appear in `federation_audiences`.\n- The `subject_token` must be a valid 1claw agent JWT or\n  `ocv_` API key.\n- Optional `scope` narrows the agent's existing scopes — it\n  cannot escalate.\n\nReturns 503 when `ONECLAW_JWT_RS256_SIGNING_KEY_ID` is not\nconfigured on the server.\n",
        "operationId": "exchangeFederatedToken",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TokenExchangeRequest"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/TokenExchangeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Federation token issued",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenExchangeResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "503": {
            "description": "RS256 signing key not configured"
          }
        }
      }
    },
    "/.well-known/openid-configuration": {
      "get": {
        "tags": [
          "Authentication"
        ],
        "summary": "OIDC discovery document",
        "description": "Standard OpenID Connect discovery document advertising the\nissuer URL, JWKS URL, supported algorithms (`EdDSA`, `RS256`),\nand the RFC 8693 token-exchange endpoint. External IdPs\n(Anthropic WIF, Okta, Auth0, etc.) read this URL to learn\nwhere 1claw publishes its JWKS.\n",
        "operationId": "openidConfiguration",
        "security": [],
        "responses": {
          "200": {
            "description": "Discovery document",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/.well-known/jwks.json": {
      "get": {
        "tags": [
          "Authentication"
        ],
        "summary": "JSON Web Key Set",
        "description": "Public keys for every active version of every JWT signing\nkey (Ed25519 + RSA-2048). Each entry includes a `kid` so\nconsumers can validate tokens issued before the most recent\nkey rotation. Cached for 5 minutes via `Cache-Control` and\nCORS-permissive for browser-based IdP consoles.\n",
        "operationId": "jwks",
        "security": [],
        "responses": {
          "200": {
            "description": "JWK Set",
            "content": {
              "application/jwk-set+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "keys": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/auth/signup": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Create a new account",
        "operationId": "signup",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SignupRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Account created (pending verification or auto-login)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SignupResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          }
        }
      }
    },
    "/v1/auth/verify-email": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Verify email address",
        "operationId": "verifyEmail",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "token"
                ],
                "properties": {
                  "token": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Email verified",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          }
        }
      }
    },
    "/v1/auth/forgot-password": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Request password reset email",
        "description": "Always returns the same message whether or not the email exists (no account enumeration).\nOnly password-based accounts receive mail.\n",
        "operationId": "forgotPassword",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ForgotPasswordRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Acknowledgement (check email if account exists)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForgotPasswordResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/auth/reset-password": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Set a new password using reset token from email",
        "operationId": "resetPassword",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResetPasswordRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Password updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResetPasswordResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          }
        }
      }
    },
    "/v1/auth/google": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Authenticate with Google OAuth",
        "operationId": "googleAuth",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GoogleAuthRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Authenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v1/auth/change-password": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Change current user's password",
        "operationId": "changePassword",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChangePasswordRequest"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Password changed"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          }
        }
      }
    },
    "/v1/auth/set-password": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Set initial password for platform users",
        "description": "Only allowed when the user has no password set (platform_oidc users after claiming).",
        "operationId": "setPassword",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "password",
                  "password_confirm"
                ],
                "properties": {
                  "password": {
                    "type": "string",
                    "minLength": 12
                  },
                  "password_confirm": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Password set successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          }
        }
      }
    },
    "/v1/auth/change-email": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Request email change",
        "description": "Sends a 6-digit verification code to the new email address. Code expires in 10 minutes.",
        "operationId": "changeEmail",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "new_email"
                ],
                "properties": {
                  "new_email": {
                    "type": "string",
                    "format": "email"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Verification code sent",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "new_email": {
                      "type": "string"
                    },
                    "expires_in_seconds": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "409": {
            "description": "Email already in use"
          }
        }
      }
    },
    "/v1/auth/verify-email-change": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Verify email change with code",
        "operationId": "verifyEmailChange",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "code"
                ],
                "properties": {
                  "code": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Email updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "email": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          }
        }
      }
    },
    "/v1/auth/passkeys/register/begin": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Begin passkey registration",
        "description": "Returns a WebAuthn challenge for creating a new passkey credential.",
        "operationId": "passkeyRegisterBegin",
        "responses": {
          "200": {
            "description": "Registration options",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "challenge": {
                      "type": "string"
                    },
                    "rp_id": {
                      "type": "string"
                    },
                    "rp_name": {
                      "type": "string"
                    },
                    "user_id": {
                      "type": "string"
                    },
                    "user_name": {
                      "type": "string"
                    },
                    "user_display_name": {
                      "type": "string"
                    },
                    "attestation": {
                      "type": "string"
                    },
                    "authenticator_selection": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/auth/passkeys/register/complete": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Complete passkey registration",
        "description": "When the account already has a password, passkey, or TOTP,\n`X-Auth-Confirm` is required (purpose `security.passkey.register`).\n",
        "operationId": "passkeyRegisterComplete",
        "parameters": [
          {
            "name": "X-Auth-Confirm",
            "in": "header",
            "required": false,
            "description": "Re-auth token (`rat_`) or account password",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "credential_id",
                  "attestation_object",
                  "client_data_json"
                ],
                "properties": {
                  "credential_id": {
                    "type": "string"
                  },
                  "attestation_object": {
                    "type": "string"
                  },
                  "client_data_json": {
                    "type": "string"
                  },
                  "transports": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "name": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Passkey registered",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "passkey_id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "credential_id": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/auth/passkeys/assert/begin": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Begin passkey authentication",
        "operationId": "passkeyAssertBegin",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Assertion options",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "challenge": {
                      "type": "string"
                    },
                    "rp_id": {
                      "type": "string"
                    },
                    "timeout": {
                      "type": "integer"
                    },
                    "user_verification": {
                      "type": "string"
                    },
                    "allow_credentials": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/auth/passkeys/assert/complete": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Complete passkey authentication",
        "operationId": "passkeyAssertComplete",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "credential_id",
                  "authenticator_data",
                  "client_data_json",
                  "signature"
                ],
                "properties": {
                  "credential_id": {
                    "type": "string"
                  },
                  "authenticator_data": {
                    "type": "string"
                  },
                  "client_data_json": {
                    "type": "string"
                  },
                  "signature": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Authentication successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "token": {
                      "type": "string"
                    },
                    "refresh_token": {
                      "type": "string"
                    },
                    "user": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/auth/passkeys": {
      "get": {
        "tags": [
          "Authentication"
        ],
        "summary": "List registered passkeys",
        "operationId": "listPasskeys",
        "responses": {
          "200": {
            "description": "List of passkeys",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "passkeys": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "format": "uuid"
                          },
                          "credential_id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "last_used_at": {
                            "type": "string"
                          },
                          "created_at": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/auth/passkeys/{passkey_id}": {
      "delete": {
        "tags": [
          "Authentication"
        ],
        "summary": "Delete a passkey",
        "description": "Removes a registered passkey. Requires recent re-authentication\n(`X-Auth-Confirm` with a `rat_` token from `POST /v1/auth/reauth`\nusing purpose `security.passkey.delete`). Passkey or TOTP is\nrequired when either is enrolled. Deleting the last passkey is\nrefused while vault passkey unlock is enabled.\n",
        "operationId": "deletePasskey",
        "parameters": [
          {
            "name": "passkey_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "X-Auth-Confirm",
            "in": "header",
            "required": true,
            "description": "Re-auth token (`rat_`) or account password",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Passkey deleted"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/v1/approvals/request": {
      "post": {
        "tags": [
          "Approvals"
        ],
        "summary": "Request human approval (agent-only)",
        "description": "Ask a human to approve an action.\n\nTwo families of action are accepted:\n\n* the control-plane requests `access_request`, `policy_request`\n  and `binding_request`, which widen the agent's own authority; and\n* business actions named `namespace.verb` (`refund.create`,\n  `social.post`), whose meaning is carried by `summary` and `payload`.\n\nActions that 1Claw itself executes on approval — `policy_change`,\n`card_order`, `agent_transaction`, `agent_execution`,\n`agent_sign_intent` — are created by the platform and rejected here,\nbecause the summary a human reads would be agent-supplied while the\nside effect would not be.\n",
        "operationId": "requestApproval",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "action",
                  "target_type",
                  "target_id",
                  "summary"
                ],
                "properties": {
                  "action": {
                    "type": "string",
                    "maxLength": 64,
                    "description": "Control-plane action, or a business action named `namespace.verb`.",
                    "example": "refund.create"
                  },
                  "target_type": {
                    "type": "string"
                  },
                  "target_id": {
                    "type": "string"
                  },
                  "summary": {
                    "type": "object",
                    "description": "What the human is shown: title, body, and key-value fields.",
                    "example": {
                      "title": "Refund $49.99",
                      "body": "Order #1234 arrived damaged."
                    }
                  },
                  "payload": {
                    "type": "object",
                    "description": "What the action will actually do. The enforced risk tier and\nthe human-readable line are derived from this, not from\n`summary` — the two can disagree, and only this one describes\nwhat happens if the human approves.\n",
                    "example": {
                      "amount_usd": "49.99",
                      "customer_email": "a.user@example.com"
                    }
                  },
                  "reason": {
                    "type": "string"
                  },
                  "declared_risk_tier": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 3,
                    "description": "Advisory. The server derives the enforced tier from the agent's\n`action_approval_policy` and the payload, then takes the higher\nof the two: a caller may raise its own bar, never lower it.\nThe response returns both.\n"
                  },
                  "risk_tier": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 3,
                    "deprecated": true,
                    "description": "Former name for `declared_risk_tier`. Still accepted."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Approval request created",
            "headers": {
              "Location": {
                "description": "URL to poll for approval status",
                "schema": {
                  "type": "string",
                  "example": "/v1/approvals/{id}"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApprovalResponse"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/v1/auth/me": {
      "get": {
        "tags": [
          "Authentication"
        ],
        "summary": "Get current user profile",
        "operationId": "getMe",
        "responses": {
          "200": {
            "description": "User profile",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserProfileResponse"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Authentication"
        ],
        "summary": "Update user profile",
        "operationId": "updateMe",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateProfileRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Profile updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserProfileResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          }
        }
      },
      "delete": {
        "tags": [
          "Authentication"
        ],
        "summary": "Delete current user account",
        "operationId": "deleteMe",
        "parameters": [
          {
            "name": "X-Auth-Confirm",
            "in": "header",
            "required": true,
            "description": "Re-auth token (`rat_`, purpose `account.delete`) or password",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "confirmation"
                ],
                "properties": {
                  "confirmation": {
                    "type": "string",
                    "description": "Must be \"DELETE MY ACCOUNT\""
                  }
                }
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Account deleted"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          }
        }
      }
    },
    "/v1/auth/settings": {
      "get": {
        "tags": [
          "Authentication"
        ],
        "summary": "Get user security settings",
        "operationId": "getSecuritySettings",
        "responses": {
          "200": {
            "description": "Security settings",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "require_passkey_for_vaults": {
                      "type": "boolean"
                    },
                    "require_passkey_for_mfa": {
                      "type": "boolean"
                    },
                    "passkey_count": {
                      "type": "integer"
                    },
                    "passkey_requirements_downgraded": {
                      "type": "boolean",
                      "description": "True while this account carries a passkey requirement\nthat the 1claw.xyz → 1claw.co move cleared on its\nbehalf. The two flags above read false, but that was\nnot the user's choice: registering a passkey on the\ncanonical domain restores them.\n"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Authentication"
        ],
        "summary": "Update user security settings",
        "description": "Disabling `require_passkey_for_vaults` requires `X-Auth-Confirm`\n(purpose `security.vault_passkey.disable`) with a passkey or TOTP\nwhen either is enrolled.\n\nDisabling `require_passkey_for_mfa` requires `X-Auth-Confirm`\n(purpose `security.mfa_passkey.disable`) with a passkey or TOTP\nwhen either is enrolled.\n",
        "operationId": "updateSecuritySettings",
        "parameters": [
          {
            "name": "X-Auth-Confirm",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "require_passkey_for_vaults": {
                    "type": "boolean"
                  },
                  "require_passkey_for_mfa": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated settings"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/v1/auth/human-factor-auth": {
      "get": {
        "tags": [
          "Authentication"
        ],
        "summary": "Get effective human factor auth policy",
        "description": "Returns the resolved HFA policy for treasury wallet send, swap, and export.\nPrecedence: user override → spend policy → platform defaults.\n",
        "operationId": "getHumanFactorAuth",
        "responses": {
          "200": {
            "description": "Effective HFA policy",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HumanFactorAuthResponse"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      },
      "put": {
        "tags": [
          "Authentication"
        ],
        "summary": "Set user human factor auth policy",
        "operationId": "upsertHumanFactorAuth",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpsertHumanFactorAuthRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated policy",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HumanFactorAuthResponse"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/v1/auth/mfa/status": {
      "get": {
        "tags": [
          "Authentication"
        ],
        "summary": "Check MFA enrollment status",
        "operationId": "mfaStatus",
        "responses": {
          "200": {
            "description": "MFA status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MfaStatusResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/auth/mfa/setup": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Begin MFA enrollment",
        "operationId": "mfaSetup",
        "responses": {
          "200": {
            "description": "TOTP setup details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MfaSetupResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/auth/mfa/verify-setup": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Confirm MFA enrollment with a TOTP code",
        "operationId": "mfaVerifySetup",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MfaVerifySetupRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "MFA enabled, recovery codes returned",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MfaVerifySetupResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          }
        }
      }
    },
    "/v1/auth/mfa/verify": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Verify MFA code during login",
        "operationId": "mfaVerify",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MfaVerifyRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "MFA verified, JWT issued",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v1/auth/mfa/passkey/begin": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Begin passkey MFA verification during login",
        "operationId": "mfaPasskeyBegin",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "mfa_token"
                ],
                "properties": {
                  "mfa_token": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "WebAuthn challenge",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PasskeyAssertBeginResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          }
        }
      }
    },
    "/v1/auth/mfa/passkey/complete": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Complete passkey MFA verification during login",
        "operationId": "mfaPasskeyComplete",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MfaPasskeyCompleteRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "MFA verified, JWT issued",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v1/auth/mfa": {
      "delete": {
        "tags": [
          "Authentication"
        ],
        "summary": "Disable MFA",
        "description": "Requires a valid TOTP or recovery code in the body, or a passkey\nre-auth token in `X-Auth-Confirm` (purpose `security.mfa.disable`).\nAccount password alone is not accepted while TOTP is enabled.\n",
        "operationId": "mfaDisable",
        "parameters": [
          {
            "name": "X-Auth-Confirm",
            "in": "header",
            "required": false,
            "description": "Passkey or TOTP re-auth token (`rat_`)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MfaDisableRequest"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "MFA disabled"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          }
        }
      }
    },
    "/v1/auth/device/code": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Request a device authorization code",
        "operationId": "deviceCode",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeviceCodeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Device code issued",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeviceCodeResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/auth/device/token": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Poll for device authorization token",
        "operationId": "deviceToken",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeviceTokenRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Token issued or authorization pending",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeviceTokenResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/auth/device/code/{user_code}": {
      "get": {
        "tags": [
          "Authentication"
        ],
        "summary": "Check device code status",
        "operationId": "deviceCodeStatus",
        "security": [],
        "parameters": [
          {
            "name": "user_code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Device code details"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/auth/device/approve": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Approve a CLI device login",
        "operationId": "deviceApprove",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeviceApproveRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Device approved"
          }
        }
      }
    },
    "/v1/auth/device/deny": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Deny a CLI device login",
        "operationId": "deviceDeny",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeviceApproveRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Device denied"
          }
        }
      }
    },
    "/v1/auth/api-keys": {
      "post": {
        "tags": [
          "API Keys"
        ],
        "summary": "Create a personal API key",
        "operationId": "createApiKey",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateApiKeyRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "API key created (full key shown once)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiKeyCreatedResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          }
        }
      },
      "get": {
        "tags": [
          "API Keys"
        ],
        "summary": "List personal API keys",
        "operationId": "listApiKeys",
        "responses": {
          "200": {
            "description": "List of API keys (masked)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiKeyListResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/auth/api-keys/{key_id}": {
      "delete": {
        "tags": [
          "API Keys"
        ],
        "summary": "Revoke an API key",
        "operationId": "revokeApiKey",
        "parameters": [
          {
            "name": "key_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Key revoked"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/auth/export-data": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Export user data (GDPR)",
        "description": "Returns a full export of the authenticated user's data including\nprofile, vaults, agents, secrets metadata, and policies. Intended\nfor GDPR data-portability requests. Only available to human users\n(not agents). Requires `X-Auth-Confirm` (purpose `account.export`);\npasskey or TOTP when either is enrolled.\n",
        "operationId": "exportUserData",
        "parameters": [
          {
            "name": "X-Auth-Confirm",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User data export",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "export_version",
                    "exported_at",
                    "user",
                    "vaults",
                    "agents",
                    "secrets_metadata",
                    "policies"
                  ],
                  "properties": {
                    "export_version": {
                      "type": "string",
                      "example": "1.0"
                    },
                    "exported_at": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "user": {
                      "type": "object",
                      "required": [
                        "id",
                        "email",
                        "display_name",
                        "auth_method",
                        "created_at"
                      ],
                      "properties": {
                        "id": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "email": {
                          "type": "string",
                          "format": "email"
                        },
                        "display_name": {
                          "type": "string"
                        },
                        "auth_method": {
                          "type": "string"
                        },
                        "created_at": {
                          "type": "string",
                          "format": "date-time"
                        }
                      }
                    },
                    "vaults": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": [
                          "id",
                          "name",
                          "created_at"
                        ],
                        "properties": {
                          "id": {
                            "type": "string",
                            "format": "uuid"
                          },
                          "name": {
                            "type": "string"
                          },
                          "created_at": {
                            "type": "string",
                            "format": "date-time"
                          }
                        }
                      }
                    },
                    "agents": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": [
                          "id",
                          "name",
                          "created_at"
                        ],
                        "properties": {
                          "id": {
                            "type": "string",
                            "format": "uuid"
                          },
                          "name": {
                            "type": "string"
                          },
                          "created_at": {
                            "type": "string",
                            "format": "date-time"
                          }
                        }
                      }
                    },
                    "secrets_metadata": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": [
                          "vault_id",
                          "path",
                          "type",
                          "version",
                          "created_at"
                        ],
                        "properties": {
                          "vault_id": {
                            "type": "string",
                            "format": "uuid"
                          },
                          "path": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string"
                          },
                          "version": {
                            "type": "integer"
                          },
                          "created_at": {
                            "type": "string",
                            "format": "date-time"
                          }
                        }
                      }
                    },
                    "policies": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": [
                          "id",
                          "vault_id",
                          "principal_type",
                          "principal_id",
                          "secret_path_pattern",
                          "permissions",
                          "created_at"
                        ],
                        "properties": {
                          "id": {
                            "type": "string",
                            "format": "uuid"
                          },
                          "vault_id": {
                            "type": "string",
                            "format": "uuid"
                          },
                          "principal_type": {
                            "type": "string"
                          },
                          "principal_id": {
                            "type": "string",
                            "format": "uuid"
                          },
                          "secret_path_pattern": {
                            "type": "string"
                          },
                          "permissions": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "created_at": {
                            "type": "string",
                            "format": "date-time"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/v1/auth/devices": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Register a mobile device",
        "description": "Register a new mobile device for the authenticated user. Human-only.\nThe device public key is used for step-up authentication challenges.\n",
        "operationId": "registerDevice",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RegisterDeviceRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Device registered",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RegisterDeviceResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      },
      "get": {
        "tags": [
          "Authentication"
        ],
        "summary": "List devices for current user",
        "description": "Returns all registered mobile devices for the authenticated user.",
        "operationId": "listDevices",
        "responses": {
          "200": {
            "description": "Device list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeviceListResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/auth/devices/{device_id}": {
      "delete": {
        "tags": [
          "Authentication"
        ],
        "summary": "Revoke a device",
        "description": "Removes a registered device, invalidating its keys and push tokens.",
        "operationId": "revokeDevice",
        "parameters": [
          {
            "name": "device_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Device revoked"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/auth/devices/{device_id}/challenge": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Create step-up auth challenge",
        "description": "Creates a cryptographic challenge bound to a specific action (e.g. approving\na high-risk transaction). The device signs the challenge nonce to prove\npossession of the private key.\n",
        "operationId": "createDeviceChallenge",
        "parameters": [
          {
            "name": "device_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateDeviceChallengeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Challenge created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeviceChallengeResponse"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/auth/devices/{device_id}/attest": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Attest device challenge",
        "description": "Submit a signed challenge nonce to complete step-up authentication.\nReturns a short-lived step-up token that can be used for the bound action.\n",
        "operationId": "attestDeviceChallenge",
        "parameters": [
          {
            "name": "device_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AttestDeviceChallengeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Attestation successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AttestDeviceChallengeResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/auth/devices/{device_id}/push-token": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Register push notification token",
        "description": "Associates a push notification token (APNs or FCM) with a registered device\nso the server can send approval requests and alerts.\n",
        "operationId": "registerPushToken",
        "parameters": [
          {
            "name": "device_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RegisterPushTokenRequest"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Push token registered"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/vaults": {
      "post": {
        "tags": [
          "Vaults"
        ],
        "summary": "Create a vault",
        "operationId": "createVault",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateVaultRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Vault created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VaultResponse"
                }
              }
            }
          },
          "400": {
            "description": "The name is empty or longer than 255 characters. Checked before the consensus gate and the quota, so a malformed request consumes neither an approval nor a rate-limit slot.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "409": {
            "description": "A vault with that name already exists in this organization. Names are unique per org; this previously surfaced as a 500.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Vaults"
        ],
        "summary": "List vaults",
        "operationId": "listVaults",
        "responses": {
          "200": {
            "description": "List of vaults",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VaultListResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/vaults/{vault_id}": {
      "get": {
        "tags": [
          "Vaults"
        ],
        "summary": "Get vault details",
        "operationId": "getVault",
        "parameters": [
          {
            "$ref": "#/components/parameters/VaultId"
          }
        ],
        "responses": {
          "200": {
            "description": "Vault details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VaultResponse"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "tags": [
          "Vaults"
        ],
        "summary": "Delete a vault",
        "operationId": "deleteVault",
        "parameters": [
          {
            "$ref": "#/components/parameters/VaultId"
          }
        ],
        "responses": {
          "204": {
            "description": "Vault deleted"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/vaults/{vault_id}/cmek": {
      "post": {
        "tags": [
          "CMEK"
        ],
        "summary": "Enable CMEK on a vault",
        "operationId": "enableCmek",
        "description": "Enable client-side encryption on a vault. Requires Business or Enterprise plan.\nOnly the key's SHA-256 fingerprint is stored — the key never touches the server.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/VaultId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EnableCmekRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "CMEK enabled",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VaultResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      },
      "delete": {
        "tags": [
          "CMEK"
        ],
        "summary": "Disable CMEK on a vault",
        "operationId": "disableCmek",
        "description": "Disable client-side encryption. Existing CMEK-encrypted secrets still require\nthe key to decrypt. New secrets will use HSM-only encryption.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/VaultId"
          }
        ],
        "responses": {
          "200": {
            "description": "CMEK disabled",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VaultResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          }
        }
      }
    },
    "/v1/vaults/{vault_id}/cmek-rotate": {
      "post": {
        "tags": [
          "CMEK"
        ],
        "summary": "Start server-assisted CMEK key rotation",
        "operationId": "rotateCmek",
        "description": "Re-encrypts all secrets from the old CMEK key to the new one.\nKeys are passed in headers (TLS-only) and exist in server memory\nonly during the rotation. Batched in groups of 100 secrets.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/VaultId"
          },
          {
            "name": "x-cmek-old-key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Base64-encoded old CMEK key (32 bytes)"
          },
          {
            "name": "x-cmek-new-key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Base64-encoded new CMEK key (32 bytes)"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CmekRotateRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Rotation job started",
            "headers": {
              "Location": {
                "description": "URL to poll for rotation job status",
                "schema": {
                  "type": "string",
                  "example": "/v1/vaults/{vault_id}/cmek-rotate/{job_id}"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CmekRotationJobResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          }
        }
      }
    },
    "/v1/vaults/{vault_id}/cmek-rotate/{job_id}": {
      "get": {
        "tags": [
          "CMEK"
        ],
        "summary": "Get CMEK rotation job status",
        "operationId": "getCmekRotationJob",
        "parameters": [
          {
            "$ref": "#/components/parameters/VaultId"
          },
          {
            "name": "job_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Rotation job status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CmekRotationJobResponse"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/vaults/{vault_id}/mpc": {
      "post": {
        "tags": [
          "Vaults"
        ],
        "summary": "Enable MPC custody on a vault",
        "operationId": "enableMpc",
        "description": "Enable MPC custody on an existing vault. Requires Business or Enterprise plan.\nSplits secret encryption keys across multiple providers using the specified\ncustody mode (e.g. 2-of-2, 2-of-3).\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/VaultId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EnableMpcRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "MPC custody enabled",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VaultResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/vaults/{vault_id}/secrets": {
      "get": {
        "tags": [
          "Secrets"
        ],
        "summary": "List secrets in a vault",
        "operationId": "listSecrets",
        "parameters": [
          {
            "$ref": "#/components/parameters/VaultId"
          },
          {
            "name": "prefix",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by path prefix"
          }
        ],
        "responses": {
          "200": {
            "description": "Secret metadata list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SecretListResponse"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/vaults/{vault_id}/secrets/{path}": {
      "put": {
        "tags": [
          "Secrets"
        ],
        "summary": "Store or update a secret",
        "operationId": "putSecret",
        "x-agentcash-auth": {
          "mode": "paid"
        },
        "x-payment-info": {
          "protocols": [
            "x402"
          ],
          "pricingMode": "fixed",
          "price": "0.0075"
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/VaultId"
          },
          {
            "$ref": "#/components/parameters/SecretPath"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PutSecretRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Secret created or updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SecretCreatedResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          }
        }
      },
      "get": {
        "tags": [
          "Secrets"
        ],
        "summary": "Retrieve a decrypted secret",
        "operationId": "getSecret",
        "x-agentcash-auth": {
          "mode": "paid"
        },
        "x-payment-info": {
          "protocols": [
            "x402"
          ],
          "pricingMode": "fixed",
          "price": "0.0015"
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/VaultId"
          },
          {
            "$ref": "#/components/parameters/SecretPath"
          },
          {
            "name": "x-client-share",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Base64-encoded client key share for MPC 2-of-2 vaults. Required when the vault uses 2-of-2 MPC custody."
          }
        ],
        "responses": {
          "200": {
            "description": "Decrypted secret value",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SecretResponse"
                }
              }
            }
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "tags": [
          "Secrets"
        ],
        "summary": "Delete a secret",
        "operationId": "deleteSecret",
        "parameters": [
          {
            "$ref": "#/components/parameters/VaultId"
          },
          {
            "$ref": "#/components/parameters/SecretPath"
          }
        ],
        "responses": {
          "204": {
            "description": "Secret deleted"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/vaults/{vault_id}/secret-versions/{path}": {
      "get": {
        "tags": [
          "Secrets"
        ],
        "summary": "List all versions of a secret",
        "operationId": "listSecretVersions",
        "parameters": [
          {
            "$ref": "#/components/parameters/VaultId"
          },
          {
            "$ref": "#/components/parameters/SecretPath"
          }
        ],
        "responses": {
          "200": {
            "description": "Version list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SecretVersionListResponse"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/vaults/{vault_id}/secret-version/{path}/{version}": {
      "get": {
        "tags": [
          "Secrets"
        ],
        "summary": "Retrieve a specific version of a secret",
        "operationId": "getSecretVersion",
        "parameters": [
          {
            "$ref": "#/components/parameters/VaultId"
          },
          {
            "$ref": "#/components/parameters/SecretPath"
          },
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Decrypted secret value at the specified version",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SecretResponse"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "410": {
            "description": "Version has been disabled or expired"
          }
        }
      }
    },
    "/v1/vaults/{vault_id}/secret-version-disable/{path}/{version}": {
      "post": {
        "tags": [
          "Secrets"
        ],
        "summary": "Disable a specific secret version",
        "operationId": "disableSecretVersion",
        "description": "Disables a version so it can no longer be read. The version is\nretained for audit purposes but returns 410 on read attempts.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/VaultId"
          },
          {
            "$ref": "#/components/parameters/SecretPath"
          },
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Version disabled"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/vaults/{vault_id}/secret-rotate/{path}": {
      "post": {
        "tags": [
          "Secrets"
        ],
        "summary": "Server-side secret rotation",
        "operationId": "rotateSecret",
        "description": "Generates a cryptographically random value and stores it as a new\nversion of the secret. The previous version is preserved in history.\nRequires rotate or write permission.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/VaultId"
          },
          {
            "$ref": "#/components/parameters/SecretPath"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RotateSecretRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "New version created with server-generated value",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SecretCreatedResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/vaults/{vault_id}/policies": {
      "post": {
        "tags": [
          "Policies"
        ],
        "summary": "Create an access policy",
        "operationId": "createPolicy",
        "parameters": [
          {
            "$ref": "#/components/parameters/VaultId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePolicyRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Policy created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PolicyResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          }
        }
      },
      "get": {
        "tags": [
          "Policies"
        ],
        "summary": "List policies on a vault",
        "operationId": "listPolicies",
        "parameters": [
          {
            "$ref": "#/components/parameters/VaultId"
          }
        ],
        "responses": {
          "200": {
            "description": "Policy list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PolicyListResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/vaults/{vault_id}/policies/{policy_id}": {
      "put": {
        "tags": [
          "Policies"
        ],
        "summary": "Update a policy",
        "operationId": "updatePolicy",
        "parameters": [
          {
            "$ref": "#/components/parameters/VaultId"
          },
          {
            "$ref": "#/components/parameters/PolicyId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdatePolicyRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Policy updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PolicyResponse"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "tags": [
          "Policies"
        ],
        "summary": "Revoke a policy",
        "operationId": "deletePolicy",
        "parameters": [
          {
            "$ref": "#/components/parameters/VaultId"
          },
          {
            "$ref": "#/components/parameters/PolicyId"
          }
        ],
        "responses": {
          "204": {
            "description": "Policy revoked"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/vaults/{vault_id}/env-vars": {
      "get": {
        "tags": [
          "Environment Variables"
        ],
        "summary": "List environment variables",
        "description": "List all environment variables for a vault, optionally filtered by environment.",
        "operationId": "listEnvVars",
        "parameters": [
          {
            "$ref": "#/components/parameters/VaultId"
          },
          {
            "name": "environment",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by environment (production, preview, development, or custom)"
          }
        ],
        "responses": {
          "200": {
            "description": "Environment variable list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "env_vars": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/EnvVar"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Environment Variables"
        ],
        "summary": "Create environment variable",
        "operationId": "createEnvVar",
        "parameters": [
          {
            "$ref": "#/components/parameters/VaultId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateEnvVarRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Environment variable created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EnvVar"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          }
        }
      }
    },
    "/v1/vaults/{vault_id}/env-vars/resolve": {
      "get": {
        "tags": [
          "Environment Variables"
        ],
        "summary": "Resolve environment variables",
        "description": "Resolve the final KEY=VALUE set for an environment with full precedence (shared < vault < branch override).\nWhen the caller is an agent with `env_auto_resolve: true`, the `environment` query parameter may be omitted —\nthe server uses the agent's tagged environment from the JWT. Org setting `env.enforce_agent_environment_scope`\nblocks agents from resolving vars outside their tagged environment.\n",
        "operationId": "resolveEnvVars",
        "parameters": [
          {
            "$ref": "#/components/parameters/VaultId"
          },
          {
            "name": "environment",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Target environment (production, preview, development, or custom). Required for human callers; optional for agents with env_auto_resolve when the agent has an environment tag."
          },
          {
            "name": "git_branch",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Optional git branch for preview branch overrides"
          }
        ],
        "responses": {
          "200": {
            "description": "Resolved environment variables",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResolveEnvVarsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/vaults/{vault_id}/env-vars/{key}": {
      "get": {
        "tags": [
          "Environment Variables"
        ],
        "summary": "Get environment variable",
        "operationId": "getEnvVar",
        "parameters": [
          {
            "$ref": "#/components/parameters/VaultId"
          },
          {
            "name": "key",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "environment",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Environment variable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EnvVar"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "patch": {
        "tags": [
          "Environment Variables"
        ],
        "summary": "Update environment variable",
        "operationId": "updateEnvVar",
        "parameters": [
          {
            "$ref": "#/components/parameters/VaultId"
          },
          {
            "name": "key",
            "in": "path",
            "required": true,
[...]
